body {
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
  }
  
  /* Create a container to hold the title and navbar */
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(131, 159, 198);
    color: white;
  }
  
  /* Style the title */
  .title {
    margin: 0;
  }
  
  /* Style the navbar */
  .navbar {
    margin: 10;
    list-style-type: none;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
  }
   .sleep {
    margin-left: 50px;
    margin-top: 50px;
   }
  
  .navbar li {
    display: inline-block;
    margin-right: 120px;
  }

 .app {
  margin: 150px;
  display: grid;
  margin-left: 1000px;
 }

 ._blank {
  color: black;
 }